file_temporaneo.txt
.vs/*
*.scx
Programmi/test/*
Traduzione_ita/scx/*
Originali/*
SG0-2.1.1/*
c0data.mpk
system.mpk
enscript.mpk
c0data_originale.mpk
Traduzione_ita/video/**/*.bk2
Traduzione_ita/video/**/*.avi